<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>HELLO <%=name%></p>
    <% name.forEach(e =>{  %>
            <h2><%=e.Name%></h2><br><br>
    <%    }) %>

        <h2><%=  xyz==='Sandeep'? 'Please verify':'Sign in'   %> </h2>


        <!-- name.forEach(function(e){

        } ) -->



</body>
</html>